<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Dạy con học">
    <title>Phép cộng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" />
    <style>
        .card-x,
        .card-x span,
        .card-x i {
            color: #eeeeee !important;
        }
    </style>
</head>

<body ng-app="app" class="container-fluid">
    <div ng-controller="controller">
        <ul class="pagination pagination-lg justify-content-end my-3">
            <li ng-repeat="x in l1" class="page-item {{x==num?'active':''}}"><a ng-click="Num(x)" class="page-link"
                    href="#num">{{x}}</a>
            </li>
            <li class="page-item">
                <a href="#ran" ng-click="Ran()" class="page-link"><i class="fa fa-fw fa-random"></i></a>
            </li>
        </ul>
        <div class="row">
            <div ng-repeat="x in l1" ng-click="Toggle(x)" class="col-4 text-center mb-3">
                <div class="card card-{{x}} shadow">
                    <div class="card-body">
                        <div class="display-3">
                            <span class="{{color[x%3]}}">{{x}}</span> + <span class="text-danger">{{num}}</span> =
                            <span class="kq-x kq-{{x}} text-secondary">?</span>
                            <span class="kq-y kq-{{x}} d-none">{{x + num}}</span>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <i ng-repeat="k in l1 | limitTo: x"
                                class="fa fa-fw fa-2x {{font[x]}} {{color[x%3]}} {{k==4||k==7?'ml-3':''}}"></i>
                        </div>
                        <div class="text-danger"> <i ng-repeat="l in l1 | limitTo: num"
                                class="fa fa-fw fa-2x {{font[x]}} {{l==4||l==7?'ml-3':''}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="index.js"></script>
</body>

</html>