<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Phép cộng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" />
    <style>
        .display-4 {
            font-size: 2rem;
        }

        .c4 {
            width: 35%;
        }
    </style>
</head>

<body ng-app="app" class="container-fluid">
    <div ng-controller="controller">
        <ul class="pagination pagination-lg justify-content-end my-3">
            <li ng-repeat="x in l1" class="page-item {{x==num?'active':''}}"><a
                    ng-click="Num(x)" class="page-link" href="#num">{{x}}</a>
            </li>
            <li class="page-item">
                <a href="#ran" ng-click="Ran()" class="page-link"><i class="fa fa-fw fa-random"></i></a>
            </li>
        </ul>
        <table class="table table-bordered display-4">
            <tbody>
                <tr ng-repeat="x in l1">
                    <td>{{x}} + {{num}} = {{x + num}}</td>
                    <td class="text-center c4">
                        <i ng-repeat="k in l1 | limitTo: x"
                            class="fa fa-fw {{font[num]}} {{k==4||k==7?'ml-4':''}}"></i>
                    </td>
                    <td class="text-center c4">
                        <i ng-repeat="l in l1 | limitTo: num"
                            class="fa fa-fw {{font[num]}} {{l==4||l==7?'ml-4':''}}"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center display-1">
            {{ran}} + {{num}} = ?
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script>
        angular.module('app', [])
            .controller('controller', function ($scope) {
                $scope.font = ["", "fa-cat text-primary", "fa-crow text-success", "fa-apple-alt text-danger", "fa-carrot text-info", "fa-pizza-slice text-warning", "fa-fish text-primary", "fa-frog text-success", "fa-horse text-danger", "fa-hamburger text-info"];
                $scope.l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9];
                $scope.num = 1;
                $scope.ran = 1;

                $scope.Num = function (n) {
                    $scope.num = n;
                }

                $scope.Ran = function () {
                    $scope.ran = Math.floor(Math.random() * 9) + 1;
                }
            });
    </script>
</body>

</html>